*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.clock {
    font-size: 70px;
    background-color: #333;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.3);
    color: #00ffcc; /* Neon Color */
}